<div class="content">
  <h3>Please fill in the following details first.</h3>
  <form
    fxLayout="column"
    fxLayoutGap="8px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)">
    <mat-form-field
      appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        matInput
        type="text"
        name="firstName"
        ngModel
        required>
    </mat-form-field>
    <mat-form-field
      appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        type="text"
        name="lastName"
        ngModel
        required>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-label>Mode of Communication</mat-label>
    <mat-checkbox
      #email>E-mail</mat-checkbox>
    <mat-checkbox
      #phoneNo>Phone Number</mat-checkbox>
    <mat-form-field
      *ngIf="email.checked"
      appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        email
        [required]="email.checked">
    </mat-form-field>
    <mat-form-field
      *ngIf="phoneNo.checked"
      appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        type="number"
        name="phoneNumber"
        ngModel
        [required]="phoneNo.checked"
        placeholder="+254 ...">
      <mat-hint>7XX XXX XXX</mat-hint>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field
      appearance="outline">
      <mat-label>Donation Amount</mat-label>
      <input
        matInput
        type="number"
        name="donationAmount"
        ngModel
        required
        placeholder="KES. ">
      <mat-hint>How much would you like to donate?</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid || (!email.checked && !phoneNo.checked)">Submit</button>
  </form>
</div>
